<h1>Fotos</h1>

<div class="photo-gallery">
  <% @photos.each do |photo| %>
    <%= image_tag photo.image.url %>
    <p>
      <strong>Title:</strong>
      <%= photo.title %>
    </p>
  <% end %>
</div>
